<div class="costum-auth">
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">Login Form</div>
      <div class="title signup">Signup Form</div>
    </div>
    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked="" />
        <input type="radio" name="slide" id="signup" />
        <label for="login" class="slide login" (click)="mode='login'">Login</label>
        <label for="signup" class="slide signup" (click)="mode='signup'">Signup</label>
        <div class="slider-tab"></div>
      </div>
    </div>
    <app-login *ngIf="mode=='login'"></app-login>
    <app-register *ngIf="mode=='signup'"></app-register>
  </div>
</div>

